<main>
    <section>
        <h1>{{title}}</h1>
        <section class="expenses">
            <div>
                <add-expense></add-expense>
                <expense-table></expense-table>
            </div>
        </section>
        <hr>
        <section class="friends">
            <div>
                <add-friend class="add-friend"></add-friend>
                <friend-table class="friends-table"></friend-table>
                <pay-map class="paymap"></pay-map>
            </div>
        </section>

    </section>
</main>